body{
    font-family:"Playfair Display", serif;
    background-color: #414d52;
    color: #69b2d1;
}

h2{
        margin: .1em;
}

/* Header Section */

header {
    text-align: center;
}

/* Hero Section*/

#hero, footer{
    border: 4px solid #d19d60;
    background-color: #332a20;
    text-align: center;
    padding: 15px;
}
#hero img{
    width:20%;
}

/* Bio Section */

#bio{
    text-align: center;
    font-weight: bold;
}

/* Hobbies Section */

section#hobbies{
    display: flex;
    flex-flow: column;
    align-items: center;   
 }

#hobbies figure{
    align-content: center;
}
#hobbies ul li:nth-child(even){
    color: rgb(151, 218, 230);
}

/* Gallery */

#gallery{
    border: 2px solid #d19d60;
}
#gallery img{
    max-width: 100%;
    align-items: center;
}
#gallery figure{
    text-align: center;
}

/* Dropcaps */

#lit div p:first-child::first-letter{
    color: #69b2d1;
    background-image: radial-gradient(#fff, #d19d60);
    float: left;
    font-size: 3em;
    padding: 0.25em;
    margin-right: 0.25em;
    line-height: 0.65;
    border:4px outset #69b2d1;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}


@media screen and (min-width: 50em){
    figure{
        display: grid;
        grid-template-columns: 2fr 1fr
    }
    figcaption{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }
    .container{
        padding: 0.2em;
    }

    #video{
    font-family:"Playfair Display", serif;
    }
    #myVideo{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
        aspect-ratio: 1/1 auto;
    }
}

figure img{
    width: 100%;
}
#lit{
    text-align: center;
    margin-bottom: 1rem;
    font-style: oblique;
}
#lit div{
    max-width: 100%;
    columns: 40rem;
}


/* large screen size */

@media screen and (min-width: 100em){
    #gallery h2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
        grid-column: 1/-50;
    }    
    #gallery{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr 1fr
    }

    hr{
        display: none;
    }


    figure{
        display: block;
    }

    #video{
    font-family:"Playfair Display", serif;
    }
    #myVideo{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
        aspect-ratio: 1/1 auto;
    }
}
#video{
    font-family:"Playfair Display", serif;
}
#myVideo{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    aspect-ratio: 1/1 auto;
}

/* Contact form*/

#formElements{
    display: grid;
    row-gap: .5em;
    font-family: 'BBH Sans Bartle';
    color: #d19d60;
}

#contact{
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;

}

fieldset{
    border: 2px solid;
    margin-top: 1em;
    margin-bottom: 1em;
}

legend{
    background-color: #d19d60;
    color: #332a20;
    padding: .5em;
}

#contact input, #contact textarea, #contact select, #contact button{
    padding: .5em;
    font-size: 1rem;
}

#contact ul{
    list-style: none;
    padding: 0px;
}

#contact li{
    margin: 1rem;
}

#contact button{
    background-color: #d19d60;
    color: #332a20;
    border: 1px solid #414d52;
    max-width: 400px;
    width: 50%;
    justify-self: center;
}