body{
    font-family:"Playfair Display", serif;
    background-color: #332A20;
    color: #69b2d1;
}

h2{
        margin: .1em;
}

/* Header Section */

header {
    text-align: center;
}

/* navbar */
:root{
    --bar-width: 50px;
    --bar-hight: 5px;
    --navbar-gap: 5px;
    --forground: #69B2D1;
    --background: #332A20;
    --animation-timing: 150ms ease-in-out;
    --navbar-hight: calc(var(var(--bar-hight))* 3 + var(var(--navbar-gap)) * 2);
}

.navbar{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.navbar-links{
    --x-width: calc(var(--bar-hight) * 1.41421356237);
    padding: 2em;
    gap: var(--hamurger-gap);
    width: max-content;
    height: var(--navbar-hight);
    position: relative;
    top: 8px;
    left: 2px;
    z-index: 2;
}

.navbar-links::before,
.navbar-links::after,
.navbar-links input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-hight);
    background-color: var(--foreground);
    border-radius: 85px;
    box-shadow: 0 3px 6px #d19d60;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), ;    
}

.navbar-links input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.navbar-links::before{
    transform: translateY(-25px);
}

.navbar-links input::after{
    transform: translateY(25px);
}

.navbar-links:has(input:checked)::before{
    rotate: 40deg;
    width: var(--x-width);
}
.navbar-links:has(input:checked)::after{
    rotate: 40deg;
    width: var(--x-width);
}

.navbar-links input:checked{
    opacity: 50%;
    width: 50%;
}


/* Hero Section*/

#hero, footer{
    margin: 5em;
    padding: 10em;
    border: 4px solid #d19d60;
    background-color: #332a20;
    text-align: center;
    padding: 15px;
}
#hero img{
    width:20%;
}

/* Bio Section */

#bio{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: bold;
}

#bio figure{
    margin: 2em;
    border: 2px solid #d19d60;
    padding: 1em;
    background-color: #332A20;
    background-image: url(../img/11th\ Grade\ Portrait\ Fall\ 2013.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    color: #69b2d1;
}

/* Hobbies Section */

section#hobbies{
    font-family: "Merriweather", serif;
    display: flex;
    flex-flow: column;
    align-items: center;       
 }

#hobbies figure{
    align-content: center;
}
#hobbies ul li:nth-child(){
    color: #332A20;
}

/* Gallery */

#gallery{
    margin: 2em;
    border: 2px solid #d19d60;
    display: grid;
    justify-content: center;
    text-align: center;
    cursor: grab;
}
#gallery img{
    max-width: 100%;
    align-items: center;
}
#gallery figure{
    text-align: center;
}

/* Dropcaps

#lit div p:first-child::first-letter{
    color: #69b2d1;
    background-image: radial-gradient(#332A20, #d19d60);
    float: left;
    font-size: 3em;
    padding: 0.25em;
    margin-right: 0.25em;
    line-height: 0.65;
    border:4px outset #69b2d1;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}*/

/* Showing images for an example */
#image-example-1{
    margin: 2em;
    border: 2px solid #d19d60;
    padding: 1em;
    background-color: #332A20;
    background-image: url(../img/Miata-Robinson-640w.jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    color: #69b2d1;
}
#image-example-2{
    margin: 2em;
    border: 2px solid #d19d60;
    padding: 5em;
    background-color: #332A20;
    background-image: url(../img/image-example-Robinson-640w.png);
    background-repeat: no-repeat;
    background-position: 50%;   
    background-size: contain;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #69b2d1;
}
#image-example-3{
    margin: 2em;
    border: 2px solid #d19d60;
    padding: 5em;
    background-color: #332A20;
    background-image: url(../img/second-example-Robinson-640w.png);
    background-repeat: no-repeat;
    background-position: 50%;   
    background-size: contain;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* My video showing what I did on the midterm */
#video{
    font-family:"Playfair Display", serif;
    display: grid;
    justify-content: center;  
    padding-top: 5em;
    padding-bottom: 5em;  
}
#myVideo{

    display: grid;
    justify-content: center;
    aspect-ratio: 1/1 auto;
}

/* Contact form*/

#formElements{
    display: grid;
    row-gap: .5em;
    font-family: "Open Sans", sans-serif;
    color: #d19d60;
}

#contact{
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;

}

fieldset{
    border: 2px solid;
    margin-top: 1em;
    margin-bottom: 1em;
}

legend{
    background-color: #d19d60;
    color: #332a20;
    padding: .5em;
}

#contact input, #contact textarea, #contact select, #contact button{
    padding: .5em;
    font-size: 1rem;
}

#contact ul{
    list-style: none;
    padding: 0px;
}

#contact li{
    margin: 1rem;
}

#contact button{
    background-color: #d19d60;
    color: #332a20;
    border: 1px solid #414d52;
    max-width: 400px;
    width: 50%;
    justify-self: center;
}




/* Small screen size */
@media screen and (min-width: 50em){
    figure{
        display: grid;
        grid-template-columns: 2fr 1fr
    }
    figcaption{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }
    .container{
        padding: 0.2em;
    }

    #video{
    font-family:"Playfair Display", serif;
    }
    #myVideo{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
        aspect-ratio: 1/1 auto;
    }
}

figure img{
    width: 100%;
}
#lit{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    font-style: oblique;
}
#lit div{
    max-width: 100%;
    columns: 40rem;
}


/* Large screen size */

@media screen and (min-width: 100em){
    #gallery h2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
        grid-column: 1/-50;
    }    
    #gallery{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr 1fr
    }

    hr{
        display: none;
    }


    figure{
        display: block;
    }

    #video{
    font-family:"Playfair Display", serif;
    }
    #myVideo{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
        aspect-ratio: 1/1 auto;
    }
}